{% extends '@App/layout.html.twig' %}
{% block body %}
<body class="hm selfie">
<div id="wrapper" class="sub-wrapper">
    <h1>Selfie</h1>
    <ul class="nav">
        <li class="bk">
            <a href="{{ url('app_default_index') }}">
                <img class="icon" src="https://cdn0.iconfinder.com/data/icons/typicons-2/24/chevron-left-16.png"
                     alt="">
                <span>Retour</span>
            </a>
        </li>
        <li class="hm">
            <a href="javascript:void(0);" id="btn-selfie-capture">
                <img class="icon" src="https://cdn0.iconfinder.com/data/icons/typicons-2/24/camera-24.png" alt="">
                <span>Selfie</span>
            </a>
        </li>
        {% if ext.gd %}
        <li class="hm">
            <a href="javascript:void(0);" id="btn-selfie-warhol">
                <img class="icon" src="https://cdn0.iconfinder.com/data/icons/typicons-2/24/camera-24.png" alt="">
                <span>Warhol</span>
            </a>
        </li>
        {% endif %}
        {% if ext.gd %}
        <li class="hm">
            <a href="javascript:void(0);" id="btn-selfie-sepia">
                <img class="icon" src="https://cdn0.iconfinder.com/data/icons/typicons-2/24/camera-24.png" alt="">
                <span>Sepia</span>
            </a>
        </li>
        {% endif %}
    </ul>
    {% include "@App/common/gallery.html.twig" %}
</div>

</body>
{% endblock %}