{% extends '@App/layout.html.twig' %}
{% block body %}
<body class="hm selfie">
<div id="wrapper" class="sub-wrapper">
    <h1>Selfie</h1>
    <ul class="nav">
        <li class="gp">
            <a href="{{ url('app_gallery_index') }}">
                <img class="icon"
                     src="https://cdn1.iconfinder.com/data/icons/menu-icons/512/Gallery-24.png" alt="">
                <span>Galerie</span>
            </a>
        </li>
        <li class="hm">
            <a href="{{ url('app_selfie_capture', {'filter': 'default'}) }}">
                <img class="icon" src="https://cdn3.iconfinder.com/data/icons/solid-locations-icon-set/64/Photo_equipment_2-24.png" alt="">
                <span>Selfie</span>
            </a>
        </li>
        {% if ext.gd %}
        <li class="hm">
            <a href="{{ url('app_selfie_capture', {'filter': 'warhol'}) }}">
                <img class="icon" src="https://cdn0.iconfinder.com/data/icons/typicons-2/24/camera-24.png" alt="">
                <span>Warhol</span>
            </a>
        </li>
        {% endif %}
        <li class="hm">
            <a href="{{ url('app_selfie_capture', {'filter': 'sepia'}) }}">
                <img class="icon" src="https://cdn0.iconfinder.com/data/icons/typicons-2/24/camera-24.png" alt="">
                <span>Sepia</span>
            </a>
        </li>
    </ul>
    {% include "@App/common/gallery.html.twig" %}
</div>

</body>
{% endblock %}