<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>smileBox</title>

    <link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Roboto+Condensed:400,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="{{ asset('bundles/app/css/app.css') }}">
</head>
<body>

<div id="wrapper">
    <h1>smileBox ;)</h1>
    <ul class="nav">
        <li class="hm">
            <a href="javascript:void(0);" id="btn-selfie">
                <img class="icon" src="https://cdn0.iconfinder.com/data/icons/typicons-2/24/camera-24.png" alt="">
                <span>Selfie</span>
            </a>
        </li>
        <li class="fb">
            <a href="javascript:void(0);" id="btn-timelaps">
                <img class="icon" src="https://cdn0.iconfinder.com/data/icons/typicons-2/24/video-24.png" alt="">
                <span>Timelaps</span>
            </a>
        </li>
        <li class="gp">
            <a href="https://photos.google.com/album/AF1QipO9g65wimlq3G7RZJpQ7WeHMryCo2nR3cbGMEHK" target="_blank">
                <img class="icon" src="https://cdn3.iconfinder.com/data/icons/picons-social/57/40-google-plus-24.png"
                     alt="">
                <span>Galerie</span>
            </a>
        </li>
        <li class="tw">
            <a href="javascript:void(0);" id="btn-help">
                <img class="icon" src="https://cdn0.iconfinder.com/data/icons/typicons-2/24/info-large-24.png" alt="">
                <span>Aide</span>
            </a>
        </li>
        <li class="cl">
            <a href="javascript:void(0);" id="btn-settings">
                <img class="icon" src="https://cdn0.iconfinder.com/data/icons/typicons-2/24/cog-24.png" alt="">
                <span>Paramètres</span>
            </a>
        </li>
    </ul>
</div>
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script src="{{ asset('bundles/app/js/app.js') }}"></script>
</body>
</html>